.container {
    width: 100%;
    text-align: center;
}

.navigator {
    background-color: #dbd5d583;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    height: 24px;
}

.menuItems {
    display: none;
    height: 24px;
}

.wel-message{
    background-color: #bfd2ee;
    margin-top: 0px;
    cursor: pointer;
}

h1 {
    padding: 5rem;
    text-align: center;
    margin-top: 0;
}

.content-box {
    background-color: #4a536c83;
    padding: 40px;
    margin: 15px;
}

.action-btn {
    background-color: #bfd2ee;
    cursor: pointer;
    padding: 0 0.5rem;
    border: none;
}

.box-container, .box-container-hided {
    display: flex;
    flex-direction: column;
}

.box-container-hided {
    display: none;
}

.box {
    position: relative;
    bottom: 40px;
}

.btn {
    position: fixed;
    z-index: 100;
    top: 0.75rem;
    right: 1rem;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.mobile-menu {
    display: none;
    position: fixed;
    background-color: white;
    top: 0;
    left: 60%;
    right: 0;
    bottom: 0;
    z-index: 2;
    border: rgba(118, 113, 113, 0.924) solid 2px;
    flex-direction: column;
    justify-content:flex-start;
    text-align: left;
}

.menu-text1, .menu-text {
    font-size: 24px;
    padding: 9px 0 0 10px;
}
.menu-text {
    margin-top: 20px;
}

#closeIcon {
    display: none;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .box-container, .box-container-hided {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .content-box {
        width: 25%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .box-container, .box-container-hided {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .content-box {
        width: 35%;
    }
    #menuIcon, #closeIcon {
        display: none;
    }
    .menuItems {
        display: inline;
    }
}

@media screen and (min-width: 1200px) {
    .box-container, .box-container-hided {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 1200px;
        margin: auto;
    }
    .content-box {
        width: 40%;
    }
    #menuIcon {
        display: none;
    }
    .menuItems {
        display: inline;
    }
}

@media screen and (max-width: 500px) {
    .content-box {
        width: 70%;
    }
}